


.large-text {
	
	
font-size: 15px;
	
	
}




.images {
padding: 10px;
margin: 10px;

	

}
.gold-text {

color: rgb(255, 215, 0) 
font-size: 13px
	

} 




.headings {
color: rgb(0, 255, 255)
padding: 5px;

}

.link {

padding: 10px;

margin: 10px; 

	
background-color: rgb(204, 0, 204);

}


.lists {




color: rgb(255,215,0)


font-size: 14px 


	

}






