


.large-text {
	
	
font-size: 40;
	
	
}



.orange-orange {
	
	
	
	
	color: orange;
	
	 
	
}


.hobbies {


background-color: purple; 
padding: 5px 


}



.header {


}



.content {




}



.footer {




}




