





.images {
top-padding: 10px;
bottom-padding: 10px; 
margin: 10px;

	

}
.gold {
color: rgb(255, 215, 0);
font-size: 13px;
	

} 

.line {

pading: 15px;

margin: 15px; 

}

.heading1 {
color: rgb(0, 255, 255);

font-size: 20px;

}



.link {
padding: 10px;
margin: 10px; 
color: indigo;

}


.heading2 {
font-size: 20px;
color: rgb(102,0,102);




}

.lists {
color: rgb(255,215,0);
font-size: 14px;


	

}






